<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <h2>Login</h2>
        <form method="post" action="/login">
            <label>Email:</label><br>
            <input type="text" name="username" required><br><br>
            <label>Password:</label><br>
            <input type="password" name="password" required><br><br>
            <button type="submit">Login</button>
        </form>
        <div>
            <p>Don't have an account? <a href="/register">Register</a></p>
        </div>
    </div>
</body>
<script>
    const form = document.querySelector("form");

    form.addEventListener("submit", async function(event) {
        event.preventDefault();

        const username = document.querySelector("[name='username']").value;
        const password = document.querySelector("[name='password']").value;

        const response = await fetch('/login', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: new URLSearchParams({
                'username': username,
                'password': password
            })
        });

        if (response.ok) {
            const data = await response.json();
            localStorage.setItem('access_token', data.access_token); // Store token
            localStorage.setItem('email', username); // Store email
            window.location.href = '/dashboard'; // Redirect to dashboard
        } else {
            alert("Invalid credentials!");
        }
    });
</script>
</html>
